.home {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/colonos-catan-image.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

header {
  height: 60px; /* Altura fija */
}

.menu-toggle {
  font-size: 1.5rem;
}

.sidebar {
  position: fixed;
  top: 60px; /* Separado del header */
  left: -250px; /* Oculto por defecto */
  width: 250px;
  height: calc(100% - 60px); /* Ajusta la altura */
  background-color: #f8f9fa; /* Fondo gris claro */
  transition: left 0.3s ease; /* Animación suave al abrir/cerrar */
}

.sidebar.open {
  left: 0; /* Mueve el menú a la vista cuando está abierto */
}

.sidebar ul li {
  margin-bottom: 1rem; /* Espaciado entre elementos */
}

main {
  height: calc(100vh - 60px); /* Resta la altura del header */
}
