.home {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/colonos-catan-image.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

/* Estilos del header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--bs-danger) !important; /* Usa el color bg-danger de Bootstrap */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1000;
}

.menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  flex-grow: 1;
}

.sidebar {
  position: fixed;
  top: 60px; /* Separado del header */
  left: -250px; /* Oculto por defecto */
  width: 250px;
  height: calc(100% - 60px); /* Ajusta la altura */
  background-color: #f8f9fa; /* Fondo gris claro */
  transition: left 0.3s ease; /* Animación suave al abrir/cerrar */
  z-index: 999;
}

.sidebar.open {
  left: 0; /* Mueve el menú a la vista cuando está abierto */
}

.sidebar ul li {
  margin-bottom: 1rem; /* Espaciado entre elementos */
}

main {
  height: calc(100vh - 60px); /* Resta la altura del header */
  padding-top: 20px; /* Espacio adicional debajo del header fijo */
}

/* Estilos para el overlay cuando el sidebar está abierto */
.overlay {
  display: none;
  position: fixed;
  top: 60px; /* Debe coincidir con la altura del header */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.overlay.active {
  display: block;
}

/* Estilos para botones principales */
.btn-primary {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
}

.btn-primary:hover {
  background-color: var(--bs-danger-dark);
  border-color: var(--bs-danger-dark);
}

.responsive-chart {
  width: 100%;
  overflow-x: auto;
}

.responsive-chart svg {
  max-width: 100%;
  height: auto;
}
